 
<configuration> 
 <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
   <encoder>
     <pattern>%date{mm:ss.SSS} [%thread] %-5level %logger{20} - %message %n</pattern>
   </encoder>
 </appender>

 <!-- logger name="frc.robot.subsystems.NoteFinder" level="TRACE"/-->
 <logger name="frc.robot.commands.BaseSubsystemCommands.IntakeCommand" level="DEBUG"/>
 <logger name="frc.robot.commands.DebugCommands.WheelRadiusCharacterization" level="INFO"/>
 <logger name="frc.robot.subsystems.ShooterPivot" level="INFO"/>

 <root level = "WARN">
   <appender-ref ref="STDOUT"/>
 </root>

</configuration>